@using Microsoft.AspNet.Identity
@model Web.Models.SetPasswordModel


@using (Html.BeginForm("SetPasswordAjax", "UserManager", FormMethod.Post, new { @id = "changepassform", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="validation-summary-errors">
        <ul id="Result" style="list-style: none" class="pull-left">
        </ul>
    </div>
    
    <div class="row">
        <div class="col-md-12 form-vertical">
            <div class="box border red">
                <div class="box-title">
                    <h4><i class="fa fa-bars"></i>Password </h4>
                </div>
                <div class="box-body big">
                    
                    @Html.HiddenFor(m=>m.Username)

                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @name = "password", @id = "password"})
                            @Html.ValidationMessageFor(m => m.NewPassword)


                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @name = "confirmpassword", @id = "confirmpassword" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="UpdatePassBtn" type="submit" value="Update password" class="btn btn-primary pull-right" />
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

<script>
    $("#UpdatePassBtn").click(function () {

        $('#changepassform').validate();
        if ($("#changepassform").valid()) {
                var data = $('#changepassform').serialize();
                $.ajax({
                    url: '@Url.Action("SetPasswordAjax", "UserManager")',
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function() {
                        $("#UpdatePassBtn").attr("disabled", "disabled");
                        $("#UpdatePassBtn").attr("value", "Updating");
                    },
                    success: function(result) {


                        if (result.status == "success") {
                            $('#Result').append("<li class='message has-success'><h2 class='control-label pull-left'>Change password successful!</h2></li>");
                            $("#UpdatePassBtn").attr("value", "Update password");
                            setTimeout(function() {
                                $('.message').remove();
                                $('#UpdatePassBtn').removeAttr("disabled");
                            }, 2000);
                            return false;
                        } else {
                            for (var i = 0; i < result.listError.length; i++) {
                                $('#Result').append("<li class='message has-error'><h2 class='control-label pull-left'>" + result.listError[i] + "</h2></li>");
                            }
                            $("#UpdatePassBtn").attr("value", "Update password");
                            setTimeout(function() {
                                $('.message').remove();
                                $('#UpdatePassBtn').removeAttr("disabled");
                            }, 2000);
                            return false;
                        }
                    },
                    data: data

                });
            return false;
            }

        });
        </script>
