<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>P&G</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="@Url.Content("js/flot/excanvas.min.js")"></script>
                            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
                            <![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/resources/css/cloud-admin.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("/resources/font-awesome/css/font-awesome.min.css")">
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/resources/js/uniform/css/uniform.default.min.css")">
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/resources/css/animatecss/animate.min.css")">
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
    <body class="login">
        @RenderBody()
        <!-- PAGE -->
        
        <!--/PAGE -->
        <!-- JAVASCRIPTS -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- JQUERY -->
        <script src="@Url.Content("/resources/js/jquery/jquery-2.0.3.min.js")"></script>
        <!-- JQUERY UI-->
        <script src="@Url.Content("/resources/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js")"></script>
        <!-- BOOTSTRAP -->
        <script src="@Url.Content("/resources/bootstrap-dist/js/bootstrap.min.js")"></script>


        <!-- UNIFORM -->
        <script src="@Url.Content("/resources/js/uniform/jquery.uniform.min.js")"></script>
      
        @RenderSection("bottomjs",required:false)
        
       
        <!-- /JAVASCRIPTS -->
    </body>
</html>