@using Entities.Domain
@using Service.Interface
@model Web.Models.SupplyChain.SupplyChainModel
@{
    ViewBag.Title = "Supply Chain ";
    Layout = null;
    var userAllowInSupplyChainService = DependencyResolver.Current.GetService<IUserAllowInSupplyChainService>();
}



<div class="box-body">
    <div class="panel-group" id="accordion">

        @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.HSE, User.Identity.Name))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">HS&E </a> </h3>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne" style="height: 0px;">
                    <div class="panel-body">
                        @Html.Partial("SupplyChainHSEForEmployeeNotUpdate", Model)
                    </div>
                </div>
            </div>
        }
        @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.FPQ, User.Identity.Name))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">FPQ </a> </h3>
                </div>
                <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                    <div class="panel-body">
                        @Html.Partial("SupplyChainFPQForEmployeeNotUpdate", Model)
                    </div>
                </div>
            </div>

        }
        @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.MPSA, User.Identity.Name))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">MPSA </a> </h3>
                </div>
                <div class="panel-collapse collapse" id="collapseFour" style="height: 0px;">
                    <div class="panel-body">
                        @Html.Partial("SupplyChainMPSAForEmployeeNotUpdate", Model)
                    </div>
                </div>
            </div>
        }
        @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.DDS, User.Identity.Name))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">DDS </a> </h3>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                    <div class="panel-body">
                        @Html.Partial("SupplyChainDDSForEmployeeNotUpdate", Model)
                    </div>
                </div>
            </div>
        }
       @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.Service, User.Identity.Name))
       {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">Service </a> </h3>
            </div>
            <div class="panel-collapse collapse" id="collapseSix" style="height: 0px;">
                <div class="panel-body">
                    @Html.Partial("SupplyChainServiceForEmployeeNotUpdate", Model)
                </div>
            </div>
        </div>
       }
        @if (userAllowInSupplyChainService.CheckUserByDMSTypeNotAsync(DmsType.Productionlanning, User.Identity.Name))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">ProductionPlanning </a> </h3>
                </div>
                <div class="panel-collapse collapse" id="collapseFive" style="height: 0px;">
                    <div class="panel-body">
                        @Html.Partial("SupplyChainProductionPlanningForEmployeeNotUpdate", Model)
                    </div>
                </div>
            </div>

        }
        

    </div>
</div>


