@using Entities.Domain
@using Nois.Web.Framework.Kendoui;
@using Service.Users
@model Web.Models.SupplyChain.SupplyChainModel
@{

    Layout = null;
}


<div class="form-group">

  

</div>
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
         <div class="box border orange">

                                <table id="supplychaingrid" class="table">
                                    <thead>
                                        <tr>
                                            <th>DMS</th>
                                            <th>Measure</th>
                                            <th>Owner</th>
                                            <th>FR(MK)</th>
                                            <th>LPD1</th>
                                            <th>LPD2</th>
                                            <th>LPD3</th>
                                            <th>Batch</th>
                                            <th>FR(PK)</th>
                                            <th>Bottle</th>
                                            <th>Sachet</th>
                                            <th>Pouch</th>
                                            <th class="remark-supplychain">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-measurecode="1" class="scdds-target">
                                            <td  rowspan="5" class="scdds-DMS">FPQ</td>
                                            <td>Target</td>
                                            <td></td>
                                            <td colspan="10" class=" lpd1 line-edit-fpq">
                                                <span>@Model.SupplyChainFPQ[0].LPD1</span>
                                                <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[0].LPD1" />
                                            </td>
                                            
                                        </tr>
                                        @for (int i = 1; i < 2; i++)
                                        {
                                            <tr class="tr-edit" data-measurecode="@(i+1)">
                                                <td class="measurecode"><span>@Model.SupplyChainFPQ[i].MeasureName</span> <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].MeasureCode" /></td>
                                                <td class="owner line-edit-fpq">
                                                    <span>
                                                        @foreach (var user in Model.SupplyChainFPQ[i].ListUsernameInSupplyChainFPQ)
                                                        {
                                                            <text> @user; </text>
                                                        }
                                                    </span>
                                                    <select class="drpowner hide" multiple="multiple" data-placeholder="Select owner...">
                                                        @{
                                                            var ownerservice = DependencyResolver.Current.GetService<IUserService>();
                                                            var owner = ownerservice.GetAllUsersAsync().ToList();
                                                            var userAdmin = ownerservice.GetUserByUsernameAsync("Admin").Result;
                                                            if (userAdmin != null)
                                                            {
                                                                owner.Remove(userAdmin);
                                                            }
                                                        }
                                                        @foreach (var user in owner)
                                                        {
                                                            if (Model.SupplyChainFPQ[i].ListUsernameInSupplyChainFPQ.Any(name => name == user.Username))
                                                            {
                                                                <option selected>@user.Username</option>
                                                            }
                                                            else
                                                            {
                                                                <option>@user.Username</option>
                                                            }


                                                        }

                                                    </select>

                                                </td>
                                                <td class="FRMK line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].FRMK </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].FRMK" />
                                                </td>
                                                <td class="lpd1 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD1 </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].LPD1" />
                                                </td>
                                                <td class="lpd2 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD2 </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].LPD2" />
                                                </td>
                                                <td class="lpd3 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD3 </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].LPD3" />
                                                </td>
                                                <td class="batch line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].Batch </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Batch" />
                                                </td>
                                                <td class="fr  line-cols line-edit-fpq line-check-edit" title="@Model.SupplyChainFPQ[i].FRRemark">
                                                    <span>@Model.SupplyChainFPQ[i].FR </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].FR" />
                                                </td>
                                                <td class="bottle  line-cols line-edit-fpq line-check-edit" title="@Model.SupplyChainFPQ[i].BottleRemark">
                                                    <span>@Model.SupplyChainFPQ[i].Bottle </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Bottle" />
                                                </td>
                                                <td class="sachet  line-cols line-edit-fpq line-check-edit" title="@Model.SupplyChainFPQ[i].SachetRemark">
                                                    <span>@Model.SupplyChainFPQ[i].Sachet </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Sachet" />
                                                </td>
                                                <td class="pouch line-cols line-edit-fpq line-check-edit" title="@Model.SupplyChainFPQ[i].PouchRemark">
                                                    <span>@Model.SupplyChainFPQ[i].Pouch </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Pouch" />

                                                </td>
                                                <td class="remark not-enter line-cols  line-edit-fpq line-check-edit remark-float">
                                                    <span>@Html.Raw(Model.SupplyChainFPQ[i].RemarkDisplay.Replace("\n", "<br />")) </span>
                                                    <textarea class="input-edit-value-result not-enter" type="text" value="@Model.SupplyChainFPQ[i].Remark">@Model.SupplyChainFPQ[i].Remark</textarea>

                                                </td>
                                            </tr>
                                        }
                                        @for (int i = 2; i < 5; i++)
                                        {
                                            <tr class="tr-edit" data-measurecode="@(i+1)">
                                                <td class="measurecode"><span>@Model.SupplyChainFPQ[i].MeasureName</span> <input class="input-edit-value-result"  type="text"   value="@Model.SupplyChainFPQ[i].MeasureCode" /></td>
                                                <td class="owner line-edit-fpq">
                                                    <span>
                                                        @foreach (var user in Model.SupplyChainFPQ[i].ListUsernameInSupplyChainFPQ)
                                                        {
                                                            <text> @user; </text>
                                                        }
                                                    </span>
                                                    <select class="drpowner hide" multiple="multiple" data-placeholder="Select owner..." >
                                                        @{
                                                            var ownerservice = DependencyResolver.Current.GetService<IUserService>();
                                                            var owner = ownerservice.GetAllUsersAsync().ToList();
                                                            var userAdmin = ownerservice.GetUserByUsernameAsync("Admin").Result;
                                                            if (userAdmin != null)
                                                            {
                                                                owner.Remove(userAdmin);
                                                            }
                                                        }
                                                        @foreach (var user in owner)
                                                        {
                                                            if (Model.SupplyChainFPQ[i].ListUsernameInSupplyChainFPQ.Any(name => name == user.Username))
                                                            {
                                                                <option selected>@user.Username</option>
                                                            }
                                                            else
                                                            {
                                                                <option>@user.Username</option>
                                                            }


                                                        }

                                                    </select>

                                                </td>
                                                <td class="FRMK line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].FRMK </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].FRMK" />
                                                </td>
                                                <td class="lpd1 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD1 </span>
                                                    <input class="input-edit-value-result"  type="text"   value="@Model.SupplyChainFPQ[i].LPD1" />
                                                </td>
                                                <td class="lpd2 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD2 </span>
                                                    <input class="input-edit-value-result"  type="text"   value="@Model.SupplyChainFPQ[i].LPD2" />
                                                </td>
                                                <td class="lpd3 line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].LPD3 </span>
                                                    <input class="input-edit-value-result"  type="text"  value="@Model.SupplyChainFPQ[i].LPD3" />
                                                </td>
                                                <td class="batch line-edit-fpq line-check-edit line-cols">
                                                    <span>@Model.SupplyChainFPQ[i].Batch </span>
                                                    <input class="input-edit-value-result"  type="text"   value="@Model.SupplyChainFPQ[i].Batch" />
                                                </td>
                                                <td class="fr line-edit-fpq line-check-edit line-cols " >
                                                    <span>@Model.SupplyChainFPQ[i].FR </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].FR" />
                                                </td>
                                                <td class="bottle line-edit-fpq line-check-edit line-cols" >
                                                    <span>@Model.SupplyChainFPQ[i].Bottle </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Bottle" />
                                                </td>
                                                <td class="sachet line-edit-fpq line-check-edit line-cols" >
                                                    <span>@Model.SupplyChainFPQ[i].Sachet </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Sachet" />
                                                </td>
                                                <td class="pouch line-edit-fpq line-check-edit line-cols" >
                                                    <span>@Model.SupplyChainFPQ[i].Pouch </span>
                                                    <input class="input-edit-value-result" type="text" value="@Model.SupplyChainFPQ[i].Pouch" />
                                                </td>
                                                <td class="remark line-edit-fpq line-check-edit not-enter line-cols remark-float">
                                                    <span>@Html.Raw(Model.SupplyChainFPQ[i].RemarkDisplay.Replace("\n", "<br />"))</span>
                                                    <textarea class="input-edit-value-result not-enter " type="text" value="@Model.SupplyChainFPQ[i].Remark">@Model.SupplyChainFPQ[i].Remark</textarea>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                       
    </div>
</div>



    <script src="@Url.Content("~/Scripts/kendo/2014.1.318/kendo.web.min.js")"></script>
    <script>
        var isEdittingFPQ = false;
        var currentDate;
        var oldval = 0;
        $(document).ready(function() {

           
            // gird supply chain\
            var optional = $(".drpowner").kendoMultiSelect().data("kendoMultiSelect");
            //$("#tabresult td .input-edit-value-result").addClass("hide");
            $("#tabresult-dms-fpq td input ").addClass("hide");
            $("#tabresult-dms-fpq td textarea ").addClass("hide");
            $("#tabresult-dms-fpq td .input-edit-value-result").addClass("hide");
            $("#tabresult td select").addClass("hide");
            var isEdittingFPQ = false;

            function activeEditFPQ(e) {
                e.children(".input-edit-value-result").removeClass("hide");
                e.children("span").addClass("hide");
                e.children(".k-multiselect").removeClass("hide");
                $(".k-input").removeClass("hide");
                e.children('input').addClass('input-editting');
                e.children(".input-edit-value-result").select();
                e.children("div").children("div").children(".input-edit-value-result").focus();
                e.children(".input-edit-value-result").focus();
                e.children(".drpowner").removeClass("hide");

                oldval = $(e).children('input').val();
                setTimeout(function () {
                    isEdittingFPQ = true;
                }, 100);
                
            }

            var $table = jQuery("#supplychaingrid");
            $table.on("tr.td.next", function (e, $input) {
                isEdittingFPQ = true;
                $input = $($input);
                var $nextInRowTd = $input.parent(".line-check-edit").next();
                if ($nextInRowTd.length > 0 && !$nextInRowTd.hasClass("not-edit")) {
                    activeEditFPQ($nextInRowTd);
                } else {
                    var currentTdIndex = 2;
                    var $trParent = $input.parents("tr");
                    var $nextTr = $trParent.next();
                    if ($nextTr.length > 0 && $nextTr.hasClass("tr-edit")) {
                        var $nextTd = $nextTr.children("td").eq(currentTdIndex);
                        if ($nextTd.length > 0) {
                            activeEditFPQ($nextTd);
                        }
                    } 
                }
                
            });


          
          
            $(".line-edit-fpq").on('click', function () { // target
            
                if (isEdittingFPQ == false) {
                    activeEditFPQ(jQuery(this));
                }
            });
            
            function editvalueFPQ(e) {
                var $input = jQuery(e);
                var $tr = jQuery($input.parent().parent());
                //if input exist and on edit mode
                if ($input.length > 0 //if textbox is on active
                        && isEdittingFPQ //if on edit mode
                ) {

                    var newVal = $input.val();
                    if ( newVal != oldval) { //validate new value
                        var owner = $tr.children(".owner").children("div").children(".drpowner").val();
                        var measureCode = $tr.data('measurecode');
                        var lpd1 = $tr.children(".lpd1").children(".input-edit-value-result").val();
                        var lpd2 = $tr.children(".lpd2").children(".input-edit-value-result").val();
                        var lpd3 = $tr.children(".lpd3").children(".input-edit-value-result").val();
                        var batch = $tr.children(".batch").children(".input-edit-value-result").val();
                        var frmk = $tr.children(".FRMK").children(".input-edit-value-result").val();
                        var fr = $tr.children(".fr").children(".input-edit-value-result").val();                       
                        var bottle = $tr.children(".bottle").children(".input-edit-value-result").val();
                        var sachet = $tr.children(".sachet").children(".input-edit-value-result").val();
                        var pouch = $tr.children(".pouch").children(".input-edit-value-result").val();
                        var remark = $tr.children(".remark").children(".input-edit-value-result").val();
                        $.ajax({
                            url: '/SupplyChain/UpdateFPQ',
                            type: 'POST',
                            dataType: 'json',
                            data: JSON.stringify({
                                MeasureCode: measureCode,
                                ListUsernameInSupplyChainFPQ: owner,
                                FRMK: frmk,
                                LPD1: lpd1,
                                LPD2: lpd2,
                                LPD3: lpd3,
                                Batch: batch,
                                FR: fr,
                                Bottle: bottle,
                                Sachet: sachet,
                                Pouch: pouch,
                                Remark: remark,
                                Date: currentDate
                            }),
                            contentType: 'application/json',
                            
                            success: function (data) {
                                if (data.status == "success") {
                                    
                                    $input.parent().children('span').removeClass("hide"); //show span
                                    $input.parent().children('span').html(newVal.replace(/\n/g, "<br />"));
                                    $input.addClass("hide");
                                    $input.removeClass('input-editting');
                                    
                                 
                                }
                            }
                        });
                    } else {
                        //if value not change

                        $input.parent().children('span').removeClass("hide"); //show span
                        $input.addClass("hide");
                        $input.removeClass('input-editting');
                       
                    }

                } else {
                   
                }
                isEdittingFPQ = false; //remove edit mode
            }

            function validateDecimal(e) {

                if (e.value.length > 0) {
                    var RE = /^[+-]?\d+(\.\d+)?$/;
                    if (RE.test(e.value)) {
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    return true;
                }
            }

            var onEntering = false;
            jQuery(".line-edit-fpq").children(".input-edit-value-result")
            .keypress(function (event) {
                //console.log("entert " + check + " char code " + event.which);
                    var charCode = event.which || event.keyCode;
                    if (charCode == 13) {
                       
                        var td = $(this).parent("td");
                        if (!$(this).hasClass("not-enter")) {
                           
                            event.preventDefault();
                            onEntering = true;
                            editvalueFPQ(this);
                            isEdittingFPQ = false;
                            $table.trigger("tr.td.next", this);
                            setTimeout(function() {
                                onEntering = false;
                            }, 300);
                        }
                      
                    }
               
            })
            .blur(function (event) {
                if (!onEntering) {
                  
                       
                        editvalueFPQ(this);
                        isEdittingFPQ = false;
                   
                }
                
              

            });

            //end gird supply chain
            jQuery(".line-edit-fpq .k-input").on('blur',function() {
                
                var $input = jQuery(this);
                var $tr = jQuery($input.parent().parent().parent().parent());
                console.log($input);
                //if input exist and on edit mode
                if ($input.length > 0 //if textbox is on active
                        && isEdittingFPQ //if on edit mode
                    && $input.val() ===""
                ) {
                   
                   
                    var owner = $input.parent().parent().children(".drpowner").val();
                    var measureCode = $tr.data('measurecode');
                    var lpd1 = $tr.children(".lpd1").children(".input-edit-value-result").val();
                    var lpd2 = $tr.children(".lpd2").children(".input-edit-value-result").val();
                    var lpd3 = $tr.children(".lpd3").children(".input-edit-value-result").val();
                    var batch = $tr.children(".batch").children(".input-edit-value-result").val();
                    var frmk = $tr.children(".FRMK").children(".input-edit-value-result").val();
                    var fr = $tr.children(".fr").children(".input-edit-value-result").val();
                    var bottle = $tr.children(".bottle").children(".input-edit-value-result").val();
                    var sachet = $tr.children(".sachet").children(".input-edit-value-result").val();
                    var pouch = $tr.children(".pouch").children(".input-edit-value-result").val();
                    var remark = $tr.children(".remark").children(".input-edit-value-result").val();
                    $.ajax({
                        url: '/SupplyChain/UpdateFPQ',
                        type: 'POST',
                        data: JSON.stringify({
                            MeasureCode: measureCode,
                            ListUsernameInSupplyChainFPQ: owner,
                            FRMK: frmk,
                            LPD1: lpd1,
                            LPD2: lpd2,
                            LPD3: lpd3,
                            Batch: batch,
                            FR: fr,
                            Bottle: bottle,
                            Sachet: sachet,
                            Pouch: pouch,
                            Remark: remark,
                            Date: currentDate
                        }),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function(data) {
                            if (data.status == "success") {
                                
                                $input.parent().parent().parent().children('span').removeClass("hide"); //show span
                                var string = "";
                                if(owner !=null) { 
                                    for ( var i = 0; i <owner.length ;i++)
                                    {
                                        string += owner[i] + "; ";
                                    }
                                }
                                $input.parent().parent().parent().children('span').html(string);
                                $input.parent().parent().addClass("hide");
                                $input.addClass("hide");
                            }
                        }
                    });


                }
                isEdittingFPQ = false; //remove edit mode

                // check drop downlist owner null
                if (
                         $input.val() != ""
                ) {
                    isEdittingFPQ = true;
                }

            });

            // date picker

            
       

        });

    </script>

