@using Entities.Domain
@using Nois.Web.Framework.Kendoui;
@model Web.Models.SupplyChain.SupplyChainModel
@{
   
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
    

          <div class="box border orange">

                                    <table id="supplychaingrid" class="table">
                                        <thead>
                                            <tr>
                                                <th>DMS</th>
                                                <th>Measure</th>
                                                <th>Owner</th>
                                                <th>FR(MK)</th>
                                                <th>LPD1</th>
                                                <th>LPD2</th>
                                                <th>LPD3</th>
                                                <th>Batch</th>
                                                <th>FR(PK)</th>
                                                <th>Bottle</th>
                                                <th>Sachet</th>
                                                <th>Pouch</th>
                                                <th class="remark-supplychain">Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-measurecode="1" class="scdds-target">
                                                <td rowspan="5" class="scdds-DMS">FPQ</td>
                                                <td>Target</td>
                                                <td></td>
                                                <td colspan="10" class=" lpd1 ">
                                                    <span>@Model.SupplyChainFPQ[0].LPD1</span>
                                                   
                                                </td>

                                            </tr>
                                            @for (int i = 1; i < 5; i++)
                                            {
                                                <tr data-measurecode="@(i+1)">
                                                    <td class="measurecode"><span>@Model.SupplyChainFPQ[i].MeasureName</span> <input type="text " value="@Model.SupplyChainFPQ[i].MeasureCode" /></td>
                                                    <td class="owner">
                                                        <span>
                                                            @foreach (var user in Model.SupplyChainFPQ[i].ListUsernameInSupplyChainFPQ)
                                                            {
                                                                <text> @user; </text>
                                                            }
                                                        </span>
                                                       

                                                    </td>
                                                    <td class="FRMK  line-cols">
                                                        <span>@Model.SupplyChainFPQ[i].FRMK </span>

                                                    </td>
                                                    <td class="lpd1  line-cols">
                                                        <span>@Model.SupplyChainFPQ[i].LPD1 </span>
                                                        
                                                    </td>
                                                    <td class="lpd2  line-cols">
                                                        <span>@Model.SupplyChainFPQ[i].LPD2 </span>
                                                       
                                                    </td>
                                                    <td class="lpd3  line-cols">
                                                        <span>@Model.SupplyChainFPQ[i].LPD3 </span>
                                                       
                                                    </td>
                                                    <td class="batch line-cols">
                                                        <span>@Model.SupplyChainFPQ[i].Batch </span>
                                                       
                                                    </td>
                                                    <td class="fr  line-cols" title="@Model.SupplyChainFPQ[i].FRRemark">
                                                        <span>@Model.SupplyChainFPQ[i].FR </span>

                                                    </td>
                                                    <td class="bottle line-cols" title="@Model.SupplyChainFPQ[i].BottleRemark">
                                                        <span>@Model.SupplyChainFPQ[i].Bottle </span>

                                                    </td>
                                                    <td class="sachet line-cols" title="@Model.SupplyChainFPQ[i].SachetRemark">
                                                        <span>@Model.SupplyChainFPQ[i].Sachet </span>

                                                    </td>
                                                    <td class="pouch line-cols" title="@Model.SupplyChainFPQ[i].PouchRemark">
                                                        <span>@Model.SupplyChainFPQ[i].Pouch </span>

                                                    </td>
                                                    <td class="remark  line-cols">
                                                        <span>@Html.Raw(Model.SupplyChainFPQ[i].RemarkDisplay.Replace("\n","<br />"))</span>
                                                      
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                </div>
           

    </div>
</div>


    <script src="@Url.Content("~/Scripts/kendo/2014.1.318/kendo.web.min.js")"></script>
    <script>
        var IsEditting = false;
        var currentDate;
        var oldval = 0;
        $(document).ready(function() {

            function getURLParameter(name) {
                return decodeURIComponent(
                    (location.search.match(RegExp("[?|&]" + name + '=(.+?)(&|$)')) || [, null])[1]
                );
            }

            var date = getURLParameter('date');
            if (date != "null") {
                currentDate = date;
                $("#datepicker").val(date);
            } else {
                $("#datepicker").val($.datepicker.formatDate('mm/dd/yy', new Date()));
                currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());

            }
            // gird supply chain\
            var optional = $(".drpowner").kendoMultiSelect().data("kendoMultiSelect");
            $("#tabresult-dms-fpq td input ").addClass("hide");
           
        });

    </script>


